<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 13px;
    font-size: 17px;
    color: green
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>


<h2 style="color:blue">All Users</h2>
<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Delete</th>
    </tr>
  <% @users.each do |c| %>
  <tr>
    <td><%= c.name %></td>
    <td><%= c.email%></td>
    <td>
      <%= link_to "Delete", {:action => 'deleteusers', :id => c.id}, :style =>'color:red',:confirm => "Are you sure you want to delete this question?" %>
    </td>
  </tr>
  <% end %>
</table>
</div>
<br/>
<div>
  <%= link_to "List all Questions", questions_url, :style =>'color:blue' %>
</div>
<br/>
<div>
  <%=link_to "LeaderBoard","/quizzes/leaderboard", :style=>'color:green' %>
</div>
<br/>
<div>
  <%= link_to "Logout", "/logout", :style => 'color:red' %>
</div>
<br/>
